{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<main class="main">
  <h3> Add Item </h3>
  <div class="itemForm">
    <form action="#" method="post">
      <div class="formTitle">
        <label for="title">Title</label>
      </div>
      <div class="formText">
        <input type = "text" maxlength="50" name="title">
      </div>
      <div class="formTitle">
        <label for="description">Description</label>
      </div>
      <div class="formDescription">
        <textarea maxlength="250" rows="3" name="description"></textarea>
      </div>
      <div class="formTitle">
        <label for="Category">Category</label>
      </div>
      <div class="formCategory">
        <select name="category">
          {% for i in categories %}
            <option value="{{i.id}}">{{i.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="formSubmit">
        <button type="submit"> Submit </button>
      </div>
    </form>
  </div>
</main>
{% endblock %}
