{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<!-- the private main page -->
<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
  <main class="main">
    <aside class="categoriesAside">
      <div>
        <h3>Categories</h3>
        {% for i in categories %}
        <a href='{{url_for('catalogFilter', category=i.name)}}'>
          {{i.name}}
        </a>
        <br>
        {% endfor %}
      </div>
    </aside>
    <div class="verticalLine">&nbsp;</div>
    <aside class="itemsAside">
      <div>
        <a href='{{url_for('addItem')}}'>
          Add Item
        </a>
        <h3>{{itemHeader}}</h3>
        {% for i in items %}
        <a href="{{url_for('itemDescription', category=i.cname, item=i.name)}}">
          {{i.name}}
        </a>
        <br>
        {% endfor %}
      </div>
    </aside>
  </main>
{% endblock %}
