{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <main class="main">
    <section>
      <h3 class="itemTitle">{{item.name}}</h3>
      <p class="itemDescription">
        {{item.description}}
      </p>
      <div class="editAdd"> 
        <a href='{{url_for('editItem', item=item.name, item_id=item.id)}}'>
          edit
        </a>
        <a> | <a>
        <a href='{{url_for('deleteItem', item=item.name, item_id=item.id)}}'>
          delete
        </a>
      <div>
    </section>
  </main>
{% endblock %}
